## Panel

In [1]:
import pandas as pd
import numpy as np

In [2]:
stockData = np.array([[[63.03, 61.48, 75],
                      [62.05, 62.75, 46],
                      [62.74, 62.19, 53]],
                     [[411.90, 404.38, 2.9],
                     [405.45, 405.91, 2.6],
                     [403.15, 404.42, 2.4]]])

In [3]:
stockData

array([[[ 63.03,  61.48,  75.  ],
        [ 62.05,  62.75,  46.  ],
        [ 62.74,  62.19,  53.  ]],

       [[411.9 , 404.38,   2.9 ],
        [405.45, 405.91,   2.6 ],
        [403.15, 404.42,   2.4 ]]])

In [4]:
type(stockData)

numpy.ndarray

In [5]:
stockHistoricalPrices = pd.Panel(stockData,
                                items = ['PB', 'NFLX'],
                                major_axis = pd.date_range('2/3/2016', periods=3),
                                minor_axis = ['open price', 'closing price', 'volume'])
stockHistoricalPrices

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: PB to NFLX
Major_axis axis: 2016-02-03 00:00:00 to 2016-02-05 00:00:00
Minor_axis axis: open price to volume

## Criando um Dataframe a partir de um dicionário

In [6]:
USData = pd.DataFrame(np.array([[249.62, 8900],
                               [282.16, 12680],
                               [309.35, 14940]]),
                     columns = ['População(M)', 'PIB($B)'],
                     index = [1995, 2005, 2015])

In [7]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [8]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                  [1266.83, 1198.48],
                                  [1339.72, 9923.47]]),
                        columns = ['População(M)', 'PIB($B)'],
                        index = [1995, 2005, 2015])

In [9]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [11]:
US_ChinaData = {'US': USData,
               'China': ChinaData}

In [12]:
US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0, 'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47}

In [13]:
pd.Panel(US_ChinaData)

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 2 (minor_axis)
Items axis: US to China
Major_axis axis: 1995 to 2015
Minor_axis axis: População(M) to PIB($B)

In [14]:
type(pd.Panel(US_ChinaData))

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

pandas.core.panel.Panel

## Convertendo Dataframe para Panel

In [15]:
mIdx = pd.MultiIndex(levels = [['US', 'China'], [1995, 2005, 2015]],
                     labels = [[1, 1, 1, 0, 0, 0], [0, 1, 2, 0, 1, 2]])

In [16]:
mIdx

MultiIndex(levels=[['US', 'China'], [1995, 2005, 2015]],
           labels=[[1, 1, 1, 0, 0, 0], [0, 1, 2, 0, 1, 2]])

In [17]:
ChinaUSDF = pd.DataFrame({'População(M)': [1133.68, 1266.83, 1339.72, 249.62, 282.16, 309.35],
                          'PIB($B)': [390.28, 1198.48, 6988.47, 8900, 12680, 14940]},
                         index = mIdx)

In [18]:
ChinaUSDF

            População(M)   PIB($B)
China 1995       1133.68    390.28
      2005       1266.83   1198.48
      2015       1339.72   6988.47
US    1995        249.62   8900.00
      2005        282.16  12680.00
      2015        309.35  14940.00

In [19]:
ChinaUSDF.to_panel()

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 2 (major_axis) x 3 (minor_axis)
Items axis: População(M) to PIB($B)
Major_axis axis: China to US
Minor_axis axis: 1995 to 2015